/* src/AboutHum.css */
.about-hum {
  background-color: #721285;
  color: white;
  padding: 40px;
  height: fit-content;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}

.about-hum h2 {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 3.5rem;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
}

.about-hum h3 {
  margin-left: 70px;
  margin-top: 40px;
  font-size: 1.5rem;
  font-family: Arial;
  font-weight: bold;
  text-align: left;
}

.about-hum p {
  margin-top: -10px;
  font-size: 1.3rem;
  line-height: 40px;
  font-family: Arial;
  margin-right: 70px;
  margin-left: 70px;
  text-align: left;
}
